<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../static/node_modules/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Monoton|ZCOOL+KuaiLe|Major+Mono+Display|Slabo+27px|Staatliches|Patrick+Hand" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/script/index.js"></script>

</head>
<body>
  <div class="container"> 
    <nav class="navbar navbar-expand-lg bg-primary">
        <a class="navbar-brand" href="#">TOAD++</a>
        <button id="open" class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fas fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item contact-me">
                    <a class="nav-link" href="#">About</a>
                </li>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-success upload" type="submit">Upload</button>
                </form>
            </ul>
        </div>
    </nav>
  </div>

</body>
</html>
