/*=================== N    A   V   I   G   A   T   I   O   N==========*/
nav{
    background-color: #000088;
}
.navbar-brand{
    color:white;
    font-size: 30px;
    font-family: 'Monoton' , sans-serif;
    margin-left: 100px;
}
.nav-link {
    color:white;
}
.upload{
    margin-right:100px;
    color:white;
    border: 1px solid white;
    margin-left: 20px;
}
.about .nav-link{
    background: transparent;
    border:0;
}
.disabled{
    pointer-events:none;
    color:#b9b9b9;
}
.graphs{
    width: 1100px;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
    padding: 50px 10px 50px 50px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
/*================ U    P   L   O   A   D       P   A   G   E   ========= */
.modal{
    animation: show 200ms ease-in;
}
@keyframes show {
    from{opacity:0;}
    to{opacity: 1;}
}
.modal-row{
    margin-left: 0;
}
.upload-modal{
    margin-bottom: 30px;
}
#upload-btn:hover{
    cursor:pointer;
}
.modal-content{
    padding:10px;
}
.modal-title{
    color:#007bff;
}
.modal-body{
    border: 1px dashed black;
    padding: 35px;
    text-align: center;
}

td i:hover{
    cursor: pointer;
    color:blue;
}
.data{
    border: solid black 1px;
    height:400px;
}
@media (min-width: 576px){
    .modal-dialog {
        max-width: 900px;
    }
}
button, input {
    overflow: visible;
    background: #0ab394;
    padding: 10px;
    border-radius: 25px;
}
/*================== G  R   A   P   H   S   ===========================*/
#header{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
svg {
    font: 10px sans-serif;
}

.background path {
        fill: none;
        stroke: #ddd;
        shape-rendering: auto;
    }

.foreground path {
        fill: none;
        stroke: steelblue;
    }

.brush .extent {
        fill-opacity: .3;
        stroke: #fff;
        shape-rendering: auto;
    }

.axis line,
.axis path {
        fill: none;
        stroke: #000;
        shape-rendering: auto;
    }

.axis text {
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
        cursor: move;
    }
/*======================================================================*/

